
html, body{
    height: 100%;
}


/*=================================слайдери=======================================================================================================*/
.page__row{
    min-height: 89vh;
}
.slider__item4{
    padding-top: 89vh;
    border: 3px white solid;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;}

/*===============================кін====слайдери=======================================================================================================*/

/*=========================================деск меню========================================================================================*/
.deskMenuAll{display: none;}

.deskMenu{
    position: absolute;
    width: 32%;
    min-height: 89vh;
    background: black;
    top: 48px;
    opacity: .7; display: flex; flex-wrap: wrap; justify-items: center; 
}

.aboutUs, .rozrakhunok, .teckhnology, .proekry{width: 40%; 
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 200px; background:rgb(10, 10, 32);  margin:4%;}

.aboutUs:hover, .rozrakhunok:hover, .teckhnology:hover, .proekry:hover  {box-shadow: inset 0 0 0 10px rgb(200, 202, 77);}

.textInmenu{font-size: xx-large; color:seashell; text-align: center;}

.deskMenuRight{
    display: none;
    position: absolute;
    width: 67.5%;
    min-height: 89vh;
    top: 48px;
    left: 32.5%;
    background: white;
    opacity: .95;
}


/*==========================кін===============деск меню========================================================================================*/

.visiya{ margin-bottom: 20px;
    width: 100%; display: flex; box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5); border-radius: 10px; min-height: 25vh;
} 
.visiya_img{
    width: 20%; background: whitesmoke; font-size: xx-large; padding-left: 25px;  
    border-radius: 10px 0 100px 10px;
}
.visiya_text{width: 80%; padding-left: 20px; padding-right: 20px; padding-top: 5px; padding-bottom: 20px; text-align: justify; font-size: larger;}

.why_not_det{ list-style: none; margin-top: 2%; margin-left: 2%; margin-right: 2%; padding-left: 5%; padding-right: 5%; display: none;
    flex-wrap: wrap; justify-content: space-between; min-width: 90vh;}


/*===================================калькулятор=======================================================================================================*/

.calc_det{margin-top: 2%; margin-left: 7%; border-radius: 10px; padding-bottom: 15px; margin-right: 7%; display: none;
     box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);}
.r_1, .r_2, .r_3{font-size: xx-large; padding: 1%;}
.r_1, .r_3{display: flex; flex-wrap: wrap; justify-content: center;}
.r_4{text-align: center; display: none;}
.r_2{display: block; margin-left: 5%; text-align: center;}
.r_2_text{display: flex; flex-wrap: wrap; justify-content: center; padding-bottom: 10px;}


.r_1_2{margin-left: 2%; font-size: xx-large; border: none; border-bottom: black 1px solid; width: 120px;}

.ie{background: yellowgreen; padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 2px;
     position: relative; top: -10px; border-radius: 50%; font-size: 25px;}

.info{padding: 1%; margin-left: 1%; margin-right: 1%; position: relative; display: none; text-align:justify; background: whitesmoke;}
.info_close{position: absolute; width: 98%; height: 500px; margin-top: 100px; display: none; z-index: 89;}

.r_2_1, .r_2_2, .r_2_3{align-items: center;}

.icon{margin-left: 2%;}
.r_3_2{ display: none;}
.stiny{margin-left: 2%;display: none;}
.electro{margin-left: 2%;display: none;}
.rozrachuvaty{font-size: 15px;}
.other{ display: none; width: 300px; margin: auto;}


.knopky{ display: flex; justify-content: center; text-align: center; margin-top: 1%; margin-bottom: 1%;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.total, .clear, .call{width: 140px; border: none; margin-left: 1%; margin-right: 1%; font-size:large; border-style: none;}

.result{margin: 2%; font-size: 30px; text-align: center; display: none; }

/*=========================кін==========калькулятор=======================================================================================================*/

/*===================================технології=======================================================================================================*/
.tecnology_det{ list-style: none; margin-top: 2%; margin-left: 1%; margin-right: 1%; padding-left: 5%; padding-right: 5%; display: none;}

.statia0{ float: left; margin: 7px 7px 7px 7px; font-size: larger;}
.stat, .stat1{ display: flex; font-size: large; text-align: justify;}

.more_st{
    font-size: large; text-align: right; }
.more_st>a{text-decoration: none;}
/*=========================кін==========технології=======================================================================================================*/

/*===================================портфоліо=======================================================================================================*/

.porf_det{list-style: none; margin-top: 2%; margin-left: 1%; margin-right: 1%;  
     display: flex; flex-wrap: wrap; justify-content: center;}

.ob{display: flex; box-shadow: 5px 5px 5px 5px rgba(122,122,122,0.2); margin-left: 50px; margin-bottom: 15px;}
.ob_opys{ text-align: center;  width: 250px;
    padding-left: 5px; padding-right: 5px; padding-top: 10px; font-size: large;}
.ob_opys>a{
    text-decoration: none; color: black;
}

/*=================кін==================портфоліо=======================================================================================================*/
.callback{
    background: blue; font-size: x-large; text-align: center; margin: auto;
  }
.forma_callback{ width: auto; height: auto; display: none; justify-content: center; flex-wrap: wrap;
    color: white; background: blue; position: fixed; padding: 10px; right:5%; bottom: 5%;
  }

  .forma_text{font-size: 30px; text-align:  center;}

  .name{font-size: 30px;}
  .phone1{margin-top: 10px; font-size: 30px;
  }
  .go_cons{margin-top: 10px; font-size: 25px; text-align:  center;}
  .go_no{ text-align: right; padding-bottom: 5px; font-size: 25px;}
/*============================================================================================================================================

/*===================================низ контакти=======================================================================================================*/

.kontakty{
    width: 100%;
    position: relative; 
    color: black;
    display: flex;
    justify-content: space-around;
}
.kl{
    display: flex; justify-content: space-between; margin-top:5px; display: none;
}
.kl1, .phone_nyz{    margin-top:25px;
    text-align: center; 
}
.kl1{display: none;}
.phone_nyz>a {
    text-decoration: none; color: black; font-size: xx-large;
}
.kl5, .kl2, .kl3, .kl4 {background: whitesmoke;}
.kontaktyRight{
    width: 30%;
}

.last_foter{
    display: block;
    border: 2px solid violet;
    margin-left: 5%;
    margin-right: 5%;
    text-align: right;
    margin-top: 20px;
    padding-top: .5%;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: white;}
.last_foter>a{font-family: sans-serif; font-size:medium;text-decoration: none;color: violet;}
/*=================кін==================низ контакти=======================================================================================================*/


/*====================================================MEDIA====================================================================================*/
@media only screen and (max-width: 1235px) {
    .kontakty{display: none;}
    .slider__item1 > a {left: 1.8%; top: 40%;}
    .slider__item2 > a {left: 1.8%; top: 34%;}
    .slider__item3 > a {left: 2%; top: 40%;}
    .slider__item4 > a {left: 55%; top: 75%;}
    .slider__item1 > a, .slider__item2 > a, .slider__item3 > a, .slider__item4 > a{font-size: 70px; line-height: 100%;}
    .slider__item1, .slider__item2, .slider__item3, .slider__item4{padding-top: 90vh;}
    .why_not, .tecnology, .porf{font-size: 30px;}
    .info{font-size:small   ;  margin-left: 5%; margin-right: 5%;}


/*====================================mob===================================================================*/
    .deskMenuRight{
        top: 645px;
        position: absolute;
        left: 0%;
        opacity: .9;
        width: 100%;
        min-height: 0vh;
        display: block;
        }
        .visiya{ margin-bottom: 20px;
            width: 100%; display: flex; box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5); border-radius: 10px; min-height: 5vh;
        } 
        .visiya_img{
            width: 20%; background: whitesmoke; font-size: xx-large; padding-left: 10px;  
            border-radius: 10px 0 100px 10px;
        }
        .visiya_text{width: 80%; padding-left: 20px; padding-right: 10px; padding-top: 5px; padding-bottom: 20px; text-align: 
            justify; font-size: 33px;}
        
        .why_not_det{ list-style: none; margin-top: 2%; margin-left: 2%; margin-right: 2%; padding-left: 1%; padding-right: 1%; display: none;
            flex-wrap: wrap; justify-content: space-between; min-width: 0vh;}
    
        .tecnology_det{ list-style: none; margin-top: 2%; margin-left: 1%; margin-right: 1%; padding-left: 5%; padding-right: 5%; 
            display: none;}

        .statia0{ float: left; margin: 7px 7px 7px 7px; font-size: larger;}
        .stat{ display: flex; font-size: 35px; text-align: justify;}
        .stat1{display: none;}

        .more_st{
        font-size: 25px; text-align: right; }
        .more_st>a{text-decoration: none;}


        .porf_det{list-style: none; margin-top: 2%; margin-left: 1%; margin-right: 1%;  
            display: none; flex-wrap: wrap; justify-content: center;}
       
       .ob{display: flex; box-shadow: 5px 5px 5px 5px rgba(122,122,122,0.2); margin-left: 50px; margin-bottom: 15px;}
       .ob_opys{ text-align: center;  width: 60%;
           padding-left: 5px; padding-right: 5px; padding-top: 10px; font-size: 35px;}
       .ob_opys>a{
           text-decoration: none; color: black;
       }


   .calc_det{margin-top: 2%; margin-left: 1%; border-radius: 10px; padding-bottom: 15px; margin-right: 1%; display: none;
        box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);}
   .r_1, .r_2, .r_3{font-size: 50px; padding: 1%;}
   .r_1{display: flex; flex-wrap: wrap; justify-content: center;}
   .r_2{display: block; margin-left: 5%; text-align: center;}
   .r_3{display: block; text-align: center;}
   .r_4{text-align: center; display: none; font-size: 50px;}
   
   .r_2_text{display: flex; flex-wrap: wrap; justify-content: center; padding-bottom: 10px;}


   .r_1_2{margin-left: 2%; font-size: 50px; border: none; border-bottom: black 1px solid; width: 120px;}
   
   .ie{background: yellowgreen; padding-left: 15px; padding-right: 15px; padding-top: 0px; padding-bottom: 0px;
        position: relative; top: -10px; border-radius: 10%; border: 3px white solid;  font-size: 45px;}
   
   .info{padding: 1%; font-size: 30px; margin-left: 1%; margin-right: 1%; position: relative; display: none; text-align:justify; background: whitesmoke;}
   .info_close{position: absolute; width: 98%; height: 500px; margin-top: 100px; display: none; z-index: 89;}
   
label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 15px;
	margin-right: 5px;
	font-size: 50px;
}

input[type=radio] {
	display: none;
}

input[type=checkbox] {
	display: none;
}

label:before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 12px;
	position: absolute;
	left: -20px;
	bottom: 15px;
    border: solid 3px black;
}

input[type=checkbox]:checked + label:before {
	content: "\2713";
    font-size: 35px;
    font-weight: bold;
	color:red;
	text-align: center;
    line-height: 25px;
}


input[type=radio]:checked + label:before {
	content: "\2713";
    font-size: 35px;
    font-weight: bold;
	color:red;
	text-align: center;
    line-height: 25px;
}

   .icon{margin-left: 2%;}
   .r_3_2{ display: none;}
   .stiny{margin-left: 2%;display: none; font-size: 35px; margin-bottom: 15px; padding-top: 10px; width: 80%;}
   .stiny>option {font-size: small;}
   .electro{margin-left: 2%;display: none; font-size: 35px;  margin-bottom: 15px; padding-top: 10px; width: 80%;}
   .electro>option {font-size: small;}
   .rozrachuvaty{font-size: 50px;}
   .other{ display: none; width: 90%; margin: auto; font-size: 45px; padding-bottom: 10px; margin-left: 10%;}
   
   
   .knopky{ display: flex; justify-content: center; text-align: center; margin-top: 1%; margin-bottom: 1%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
   .total, .clear, .call{width: auto; border: none; margin-left: 1%; margin-right: 1%; font-size:45px; border-style: none;}
   
   .result{margin: 2%; font-size: 50px; text-align: center; display: none; }
    .forma_callback{
        display: none;

    }
       
    .last_foter>a{font-family: sans-serif; font-size:25px; text-decoration: none;color: violet;}




}
